<header>
  <div class="header-container">
    <nav>
      <ul class="nav-menu">
        <li><a href="./">Home</a></li>
        <li><a href="./baby-log.html">News</a></li>
        <li><a href="./baby-contacts.html">Contact</a></li>
      </ul>
    </nav>
    <a href="./" class="logo">Usegamng.com</a>
    <div class="mobile-menu-toggle" onclick="toggleMobileMenu()">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <div class="mobile-menu" id="mobile-menu">
    <div class="mobile-menu-close" onclick="toggleMobileMenu()">×</div>
    <a href="./">Home</a>
    <a href="./baby-log.html">News</a>
    <a href="./baby-contacts.html">Contact</a>
  </div>
</header>
